.about-us {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.about-us h2 {
    margin-top: 75px;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: orange;
    transition: 1s;
}
.about-us h2:hover{
    transform: scale(1.2);
    color: rgb(180, 119, 6);
}

.about-us-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-us-left, .about-us-right {
    flex: 1;
    margin: 10px;
}

.about-us-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: 0.5s;
}
.about-us-image:hover{
    transform: scale(1.05);
}

.about-us-right h3 {
    font-size: 1.8em;
    margin-top: 20px;
    color: rgb(170, 128, 51);
    transition: 1s;
}
.about-us-right h3:hover{
    transform: scale(1.1);
    color: green;
}

.about-us-right p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 10px;
    transition: 1s;
}
.about-us-right p:hover{
    transform: scale(1.05);
}
.team-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .team-table th, .team-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .team-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .team-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .team-table tr:hover {
    background-color: #ddd;
  }