.about-us {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.about-us h2 {
    margin-top: 75px;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: orange;
    transition: 1s;
}

.about-us h2:hover {
    transform: scale(1.2);
    color: rgb(180, 119, 6);
}

.about-us-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-us-left, .about-us-right {
    flex: 1;
    margin: 10px;
}

.about-us-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: 0.5s;
}

.about-us-image:hover {
    transform: scale(1.05);
}

.about-us-right h3 {
    font-size: 1.8em;
    margin-top: 20px;
    color: rgb(170, 128, 51);
    transition: 1s;
}

.about-us-right h3:hover {
    transform: scale(1.1);
    color: green;
}

.about-us-right p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 10px;
    transition: 1s;
}

.about-us-right p:hover {
    transform: scale(1.05);
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.team-member {
    text-align: center;
    margin: 10px;
}

.team-member-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: 0.5s;
}

.team-member-image:hover {
    transform: scale(1.05);
}

.team-member-info {
    margin-top: 10px;
}