.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1.2vw, 14px);
    margin-top: 40px;
}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option{
    display: flex;
    gap: 12px;
    align-items: center;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 3px 0px 0px 3px;
}
.sidebar-option img{
    width: 20px;
    height: 20px;
}
.sidebar-option.active{
    background-color: #fff0ed;
    border-color: tomato;
    color: orange;
}
.sidebar-option p:hover{
    color: orange;
}
.login-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .disabled {
  pointer-events: none;
  opacity: 0.5;
}

.logout-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.logout-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}
.login-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
@media (max-width:900px){
    .sidebar-option p{
        display: none;
    }
}