.navbar{
    padding: 8px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
    background-color: white; */
}
.navbar .logo{
    width: max(20%, 80px);
    /* font-size: 500; */
}
.navbar .profile{
    width: 40px;
}